
h1 {
  display: block;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 50%;
  margin-top: 130px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
  left: 0px;
  top: 0px;
  z-index: 2;

  animation-name: shine;
  animation-duration: 18s;
}

@keyframes shine {
  0% {
    background-color: skyblue;
    /* left: 0px; */
    top: 400px;
  }
  50% {
    background-color: rgb(234, 235, 171);
    /* left: 200px; */
  }
  100% {
    background-color: yellow;
    /* left: 0px; */
  }
}
